<% @questions.each do |question| %>
  <div class="card" style="margin-top: 35px">
    <div class="card-header"><%= question.description %></div>
    <ul>
      <% question.answers.each do |answer| %>
        <div class="card-body">
          <li><%= answer.description %></li>
        </div>
      <% end %>
    </ul>
  </div>
<% end %>