<p>Olá <%= @resource.email %>!</p>
<p>Alguém solicitou a troca de senha. Você pode fazer isso através do link abaixo.</p>
<p><%= link_to 'Recuperar senha', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Se você não solicitou isso, ignore esse e-mail.</p>
<p>Sua senha não será alterada a menos que você acesse o link e crie uma nova.</p>
